.propal{
    background: #F9F9F9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.heading{
    margin-top: 1%;

}
.btn-s{
    background:#F2F2F2;
    border: 1px solid;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
}
.sbox{
    padding-top: 1%;
    padding-bottom: 1%;
    padding: 3%;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
}

.flex-container-2{
    justify-items: space-between;
    margin-bottom: 5%;
    
}

.new-product{
    background: linear-gradient(94.08deg, #FFE13B 0.84%, #FF2525 115.93%);
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    outline: transparent;
}
.new-product:hover{
    background-color:#6E6E6E;
    color:#fff;
}

.in-stock{
    color:#64FE2E;
}
.three-dots{
    background:none;
    border: none;
    
}
.dots{
    padding-left: 18%;
}

.row3{
    border: 1px solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: none;
    
}
.row4{
    border: 1px solid;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-content: center;
    padding: 2%;
    
}
.prod-set-2{
    margin-left:12%;
}
.share-btn{
    background:none;
    border: none;
    justify-content: center;
}

@media screen and (max-width:767px) {
    .prod-set-2{
        margin-left: 0%;
        margin-top:7%;
    }
    
    .add-btn{
        margin-top:7%;
    }
    .new-product{
        padding: 2%;
    }
    .sbox{
        padding: 1%;
    }
    .btn-s{
        size: 20px;
    }
    
}