.ophr{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 109%;
    color: #BDBDBD;
}
.time{
    padding-right: 0px;
}
.create6{
    margin-bottom: 30px;
}
.paym{
    margin-left: 20px;
}
.color4{
    color: #BDBDBD;
}
.optn1{
    margin-bottom: 10px;
}