.fst {
  padding-top: 5%;
  padding-bottom: 5%;
}
.out1 {
  font-size: large;
}
.txt1 {
  text-align: center;
white-space: nowrap;
  font-size: medium;
}
.dis {
  float: right;
  margin-left: 5px !important;
  font-size: medium;
  background-color: rgb(255, 196, 2) !important;
  padding: 5px 10px !important;
}
.txt2 {
  padding-top: 3%;
  padding-bottom: 3%;
  white-space: nowrap;
}
.txt3 {
text-align: center;
vertical-align: middle !important;
}
.outletspalete{
  background: #F9F9F9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
}
.outlet-borderless tr, .outlet-borderless td, .outlet-borderless th, .tab1{
  border: none !important;
 }
.tab1 {
  border: 2px ridge;
  text-align: center;
  width:100%;
  padding: 0%;
  margin: 0%;
  overflow-x: scroll;
  font-size: 0.8em;
  white-space: nowrap;
 border-radius: 10px;
}
.tab9{
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
}
.rw1 {
  border-width: 0ch;
}
.rw2 {
  border-style: solid;
  border-width: 5%;
}
.smeln {
  display: inline;
  margin-right: 10%;
}
.smeln9 {
  display: inline;
}
.rw9 {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 5%;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.middle {
  background-color: #ff4500;
  color: white;
}

.bn9 {
  border-width: 1.5px;
  border-style: solid;
  margin-left: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
@media screen and (max-width: 600px) {
  .tab9 {
    overflow-x:auto;
  }
}
