.fst {
  padding-top: 3%;
  padding-bottom: 3%;
}
.out1 {
  font-size: large;
}
.txt1 {
  text-align: center;

  font-size: medium;
}
.dis {
  float: right;
  margin-left: 0.5%;
  font-size: medium;
  background-color: rgb(255, 196, 2);
}
.txt2 {
  padding: 2%;
}
.txt3 {
  padding: 5%;
}
.tab0 {
  overflow-x: auto;
}
.tab1 {
  border-width: 0ch;
  overflow-x: auto;
}
.tab2 {
  padding: 5%;
}
.rw1 {
  border-width: 0ch;
}
.rw2 {
  border-style: solid;
  border-width: 5%;
}
.smeln {
  display: inline;
  margin-right: 10%;
}
.rw0 {
  margin: 1%;
  margin-top: 3%;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.middle {
  background-color: #ff4500;
  color: white;
}
.bn0 {
  float: right;
  display: inline;
}
.bn9 {
  border-width: 1.5px;
  border-style: solid;
  margin-left: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
