@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
   
}
.upperdivInv p{
    background: rgb(220, 215, 215);
    justify-content: center;
    text-align: center;
    font-size: 1.2em; 
    padding: 1.3% 0;
    width: 102%;   
    margin: auto;
}
.inv1{
    padding-top: 2%;

}
hr{
    height: 2%;
    background-color: black;
}

.swtchinv {
    position: relative;
    width: 7%;
    height:30px;
    display: inline-block;
  }
.rowinv{
    padding-top: 1%;
    
}
  
  .swtchinv input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .sliderinv {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .sliderinv:before {
    position: absolute;
    content: "";
    height: 65%;
    width: 30%;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sliderinv {
    background-color:rgb(87, 198, 87);
  }
  
  input:focus + .sliderinv{
    box-shadow: 0 0 1px rgb(87, 198, 87);
  }
  
  input:checked + .sliderinv:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .sliderinv.round {
    border-radius: 34px;
  }
  
  .sliderinv.round:before {
    border-radius: 50%;
  }
.toggleswitchinv{
    float: right;
}
  @media screen and (max-width:767px) {
    .swtchinv {
        position: relative;
        display: inline-block;
        width: 60px;
        height:34px;
      }
}