@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
   
}
.rowps-1{
  font-size: 1.3em;   
  padding-top: 2%;
  font-weight: 500;
  line-height: 109%;
  color: #1D1D1B;
}
.ps{
  background: #F9F9F9;
    box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 100%;
}
.paraps{
    font-size: 1.3em;
    font-weight: 700;
    padding-top: 3%;
}
.cardps11{ 
    color: black;
      font-weight: 600;
      font-size: 1em;
      line-height: 119%;
}
.cardps1{
  -moz-box-shadow: 0 0 2% 2% #888;
    -webkit-box-shadow: 0 0 2% 2%#888;
    box-shadow: 0 0 10px 0px #888;
    border: none;
}
.gapps{
  padding-top: 5%;
  padding-right: 2%;
}
.switch{
  margin-left: 15%;
}
.swtch p{
  margin-left: -10%;
  font-size: 1em;
}
.btnps{

  background: linear-gradient(94.08deg, #FFE13B 0.84%, #FF2525 115.93%);
  box-shadow: 1px 1px 10px 1px grey;
  color:white;
  font-size: 0.7em;
  padding: 5px 10px !important;
  border-radius: 8px;
}

input[type='radio']:after {
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -20%;
  left: -10%;
  position: relative;
  background-color:#FF2525;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1.5px solid black;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 6%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 60%;
  width: 20%;
  top: 20%;
  left: 3%;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

.slider:after {
  content:'OFF';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}
input:checked + .slider:after {
  content:'ON';
}

@media screen and (min-width:768px){
  .disp{
    display: flex;
    padding-bottom: 5%;
  }
  .cardps1{
    width: 70%;
  }

.switch {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 60%;
}
}
.switch {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 60%;
}
@media (max-width:767px){
  .swtch{
    width: 150%;
    height: 70%;
    /*margin-right: 10%;*/
    padding-right: 5%;
  }
  .swtch p{
    margin-left: -22%;
    margin-right: 5%;
    font-size: 1em;
  }
  .disp1{
    padding: 2% 0 2% 5%;
  }
}
