.menupal{
  background: #F9F9F9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 5px 20px;
}
.flex-container10 {
  display: flex;
  justify-content: space-between;
}
.item10 {
  font-size: 1.3em;
  font-weight: 700;
}
.menutab{
  border: none !important;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
border-radius: 10px;
}
.grad{
  background: linear-gradient(94.08deg, #FFE13B 0.84%, #FF2525 115.93%);
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-left: 40px;
  outline-style: none;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.view {
  background-color: white;
  border-color: #0040ff;
  color: black;
}
.del {
  background-color: white;
  border-color: #ff0000;
  color: black;
}
.live {
  color: #ff8000;
}
.offline {
  color: #0040ff;
}
.table10 {
  
  border: 2px ridge;
  text-align: center;
  width: 100%;
  padding: 0%;
  table-layout: auto;
  overflow: scroll;
}

.tr {
  border: 2px ridge;
}
@media screen and (max-width: 767px) {
  .flex-container10 {
    margin-bottom: 8%;
  }
  .table10 {
    margin-top: 12%;
  }
}
