
#fixedsidebar > * ::-webkit-scrollbar {
    width: 16px !important;
    height: 16px !important;
}
 /* #fixedsidebar > div.pro-sidebar-inner > div > div.pro-sidebar-content */
#fixedsidebar > * ::-webkit-scrollbar-track {
    background: linear-gradient(
90deg
,#434343,#434343 1px,#111 0,#111);
}
 /*#fixedsidebar > div.pro-sidebar-inner > div > div.pro-sidebar-content  */
#fixedsidebar > * ::-webkit-scrollbar-thumb {
  background: #434343;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);

}

div.pro-sidebar-footer > footer > nav > ul > li > div.pro-inner-list-item.popper-element {
    
    bottom: 0px !important;
    position: fixed;
    left: 70px !important;
    /* transform: none !important; */
    transform: translate(0px,70%) !important;
}
#fixedsidebar.collapsed > div.pro-sidebar-inner > div > div.pro-sidebar-content > nav > ul > li > div > span.pro-icon-wrapper,
#fixedsidebar.collapsed > div.pro-sidebar-inner > div > div.pro-sidebar-footer > footer > nav > ul > li > div.pro-inner-item > span.pro-icon-wrapper
 {
    width: 38px !important;
    height: 38px !important;
}
.collapse-toggle {
    color: '#e1d9d9';
    top: 46px;
    position: absolute;
    font-size: 1.5em;
    background: "#040428";
    border-radius: 50%;
    padding: 0px;
}
.collapse-toggle:hover {
    color:orangered !important;
    background-color: #ffffff !important;
    transform: scale(1);
}

#fixedsidebar.collapsed > * ::-webkit-scrollbar {
    width: 10px !important;
    height: 16px !important;
}
@media (max-width:850px){
#fixedsidebar {
    display:none;
}
div#fixedsidebar[value=true] {
    display:block;
    width:100% !important;
    position: fixed;
    top:0px;
    left:0px;

}
.collapse-toggle {
    display: none;
}
.pro-sidebar-header {
    width: 100% !important;

}
#navbarmobile{
    display: block !important;
}
}
@media (min-width: 851px){
    #navbarmobile{
        display: none;
    }
}