.outline{
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 20px;
    width: 210px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgb(194, 194, 194);
}
.designlogo{
    margin: 20px 10px 20px 10px;
}
.cardb{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 109%;
    color: #000000;
}
.btn{
    background-color: transparent;
    text-decoration: none !important;
    outline: none;
}


@media only screen and  (max-width:800px) {
    .outline{
        margin-bottom: 10px;
    }
}