.border1{
    border: 1px solid #FF692E;
    background: white;
    border-radius: 10px;
    width: 400px;
    padding: 15px;
}

.code1{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    justify-content: flex-start;
    margin-bottom: 0px;
}

.offer{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #BDBDBD;
    margin-top: 5px;
}
.times{
    display: flex;
    justify-content:left;
    margin-bottom: 10px;
}

.t1{
    width: 150px;
    flex-wrap: nowrap;
}
.t2{
    margin-right: 60px;
}
.t1 p{
    font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
color: #BDBDBD;
margin-bottom: 0px;
}
.sharecoupon p{
    margin-bottom: 0px;
}
.t3{
    font-weight: 600 !important;
    font-size: 20px !important;
    color: #000000 !important;
}
.sharecoupon{
    border-top: 1px dashed #FF692E;
    padding-top: 15px;
}
.icon{
    margin-right: 5px;
}
.color{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FF692E;
    text-align: center;
}
.top .toggle{
    display: flex;
}

.togl {
    position: absolute;
    width: 45px;
    height:22px;
    display: inline-block;
    justify-content: end;
    margin-left: 60%;
  }
  .toggle label{
      margin-bottom: 0px;
  }
  .sliderd {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .sliderd:before {
    position: absolute;
    content: "";
    height: 65%;
    width: 30%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .sliderd {
    background-color:rgb(87, 198, 87);
  }
  input:focus + .sliderd{
    box-shadow: 0 0 1px rgb(87, 198, 87);
  }
  input:checked + .sliderd:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .sliderd.round {
    border-radius: 34px;
  }
  .sliderd.round:before {
    border-radius: 50%;
  }
