.channel{
    border: 1px solid #FF692E;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 20px 0px 20px 0px ;
}
.iconC{
    width: 60px;
    height: 60px;
    margin: 5px;
    margin-right: 35px;
}
.name1{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 109%;
    color: #333333;
    flex-wrap: nowrap;
}
.connectbtn{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 109%;
    color: #FFFFFF;
    padding: 10px 20px;
    background: linear-gradient(90deg, #FF692E 0%, #FFC537 103.97%);
    border-radius: 5px;
    border: none;
}

@media only screen and  (max-width:800px) {
    .channel{
        width: 280px;
        margin-right: 20px;
    }
}
